<h2><%= @wall.title %>, by <%= @wall.created_by %></h2>
<p class="description"><%= @wall.description %></p>

<form action="/walls/<%= @wall.id %>/edit" method= "get">
  <button type="submit" class="btn btn-primary" name="Edit"> edit</button>
</form>


<form action="/walls/<%= @wall.id %>/destroy" method= "post">
  <strong>Name authorization</strong> <br />
  <input type="text" name="author"/>
  <button type="submit" class="btn btn-danger" name="delete"> Delete</button>
</form>

<h3> Submit a comment </h3>
<form action="/walls/<%= @wall.id %>/new_comment" method= "post">
  <label>Name:</label>
  <input type="text" name="created_by"> <br />
  <label>Comment:</label>
  <textarea name="body"></textarea>
  <button type="submit" class="btn btn-primary"> Submit Comment</button>
</form>

<h4> Comments </h4>
<% @comments.each() do |comment| %>
  <p> Name: <%= comment.created_by %></p>
  <p><strong>Comment:</strong></p>
  <p><%= comment.body %></p>
  <form action="/walls/<%= comment.id %>/comment_likes" method= "post">
      <button type="submit" class="btn btn-primary" name="likes"> Likes </button>
    </form>
    <aside><strong><%= comment.likes %> Likes</strong></aside>
    <p>----------------------------------------</p>
<% end %>


